
<!-- fitness area start -->
<div ng-repeat="(key,value) in news" class="fitness-area blog-clm2-fitness">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-top-bar">
                    <h4>{{key}}</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ft-slider-area fl-slider-clm2" >
                <div ng-repeat="data in value" class="col-md-6 col-sm-6 col-xs-12">
                    <div class="ft-slider-item">
                        <img ng-src="http://server.aiw.io/uploads/{{data.thumb}}" alt="slider image">
                        <div class="ft-slider-text">
                            <a class="sl-post-cat" ui-sref="newsDetail({slug: data.slug})">world</a><br>
                            <a ui-sref="newsDetail({slug: data.slug})" class="sl-post-title">{{data.short_des}}</a>
                            <div class="clearfix"></div>
                            <div class="meta-tag-area">
                                <span><i class="fa fa-clock-o"></i>{{data.created_at}}</span>
                                <span><i class="fa fa-heart"></i>124</span>
                                <span><i class="fa fa-comment"></i>16</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fitness area end -->