 <!-- fitness area start -->
    <div class="fitness-area blog-clm2-fitness">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-top-bar">
                        <h4><span class="bold">Hot News</span></h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ft-slider-area fl-slider-clm2" >
                    <div ng-repeat="news in news.data" class="col-md-6 col-sm-6 col-xs-12">
                        <div class="ft-slider-item">
                            <img ng-src="http://server.aiw.io/uploads/{{news.thumb}}" alt="{{news.title}}">
                            <div class="ft-slider-text">
                                <a class="sl-post-cat" ui-sref="newsDetail({slug: news.slug})">world</a><br>
                                <a ui-sref="newsDetail({slug: news.slug})" class="sl-post-title">{{news.title}}</a>
                                <div class="clearfix"></div>
                                <div class="meta-tag-area">
                                    <span><i class="fa fa-clock-o"></i>{{news.created_at}}</span>
                                    <span><i class="fa fa-heart"></i>124</span>
                                    <span><i class="fa fa-comment"></i>16</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fitness area end -->
    <!-- Pager -->
    <div class="search-pagination text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul uib-pagination total-items="totalItems"  ng-model="currentPage" items-per-page="itemsPerPage" ng-change="goToPage()" >
                    </ul>
                </div>
            </div>
        </div>
    </div>
