<!-- twich-content area start -->
<div class="twich-content-area tw-blog-dtls">
    <div class="container">
        <div class="row">
            <!-- left content area start -->
            <div class="col-md-8 col-sm-8">
                <div ng-repeat="news in news.data">
                    <!-- blog post details area start -->
                    <div class="blog-post-details">
                        <h4>{{news.title}}</h4>

                        <p class="blog-text" ng-bind-html="news.content"></p>
                        <div class="bp-tag-area">
                            <h4>Tags</h4>
                            <div class="row">
                                <div class="col-xs-7">
                                    <div class="bp-tags">
                                        <a ng-repeat="tag in news.tags" ui-sref="tag({name: tag.name})">{{tag.name}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- blog post details area end -->
                    <!-- related product area start -->
                    <div class="related-product" ui-view="related-news">
                    </div>
                    <!-- related product area end -->
                    <!-- comment area start -->
                    <div class="comments">
                        <div class="comments-count">
                            <h4>COMMENTS</h4>
                        </div>
                        <ul>
                            <li ng-repeat="comment in news.comments">
                                <article>
                                    <div class="comment-status-text">
                                        <div class="comment-img">
                                            <img src="http://placehold.it/64x64" alt="author image">
                                        </div>
                                        <div class="comment-author-metadata">
                                            <h4 class="author">{{comment.author}} <span class="date">{{comment.created_at}}</span></h4>
                                            <p class="comment-content">{{comment.content}}</p>
                                        </div>
                                    </div>
                                </article>
                            </li>
                        </ul>
                    </div>
                    <!-- comment area end -->
                    <!-- comment response area start -->
                    <div class="comment-responsd">
                        <h4>LEAVE A REPLY</h4>
                        <div class="contact-form">
                            <div class="cf-msg"></div>
                            <form role="form" ng-submit="submitContent()" id="cf">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <input type="hidden" ng-model="commentData.news_id" ng-init="commentData.news_id=news.id" />
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <label for="author">Your Name (required)</label>
                                        <input id='author' class="form-control"  type="text" name="author" ng-model="commentData.author">
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <label for="content">Your Message</label>
                                        <textarea class="contact-textarea" id='content' name="content" ng-model="commentData.content"></textarea>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <button class="cont-submit" type="submit">SEND COMMENT</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- comment response area end -->
                </div>
            </div>
            <!-- left content area end -->
        </div>
    </div>
</div>
<!-- twich-content area end -->