<h3 class="related-title">RELATED ARTICLE</h3>
<div class="row">
    <div class="col-md-6 col-sm-6" ng-repeat="news in relatedNews">
        <div class="related-sinle-post">
            <div class="img-area">
                <img ui-sref="newsDetail({slug: news.slug})" alt="related post image" ng-src="http://server.aiw.io/uploads/{{news.thumb}}">
            </div>
            <p class="rlted-date">{{news.created_at}}</p>
            <a ui-sref="newsDetail({slug: news.slug})">{{news.title}}</a>
            <p class="post-by">Post by {{news.author}}</p>
        </div>
    </div>
</div>
          