<!-- fitness area start -->
<div class="fitness-area blog-clm2-fitness">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-top-bar">
                    <h4><span class="bold">{{header}}</span></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="blg-slider-text" ng-if="noti == 'Not Found'">
                <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                    <h3 style="color: gray;" href="#" class="blog-post-title uppercase">{{noti}}</h3>
                </div>
            </div>
            <div class="ft-slider-area fl-slider-clm2" >
                <div ng-repeat="result in results.data" class="col-md-6 col-sm-6 col-xs-12">
                    <div class="ft-slider-item">
                        <img ng-src="http://server.aiw.io/uploads/{{result.thumb}}" alt="{{result.title}}">
                        <div class="ft-slider-text">
                            <a class="sl-post-cat" ui-sref="newsDetail({slug: result.slug})">world</a><br>
                            <a ui-sref="newsDetail({slug: result.slug})" class="sl-post-title">{{result.title}}</a>
                            <div class="clearfix"></div>
                            <div class="meta-tag-area">
                                <span><i class="fa fa-clock-o"></i>{{result.created_at}}</span>
                                <span><i class="fa fa-heart"></i>124</span>
                                <span><i class="fa fa-comment"></i>16</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fitness area end -->
<!-- Pager -->
<div class="search-pagination text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul uib-pagination total-items="totalItems"  ng-model="currentPage" items-per-page="itemsPerPage" ng-change="goToPage()" >
                </ul>
            </div>
        </div>
    </div>
</div>
        