<div class="input-group">
    <form ng-submit="onSubmit()" >
        <span class="input-group-btn">
        <input type="text" class="form-control" ng-model="title">

            <button class="btn btn-default" type="button" id="btn">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </form>
</div>

   